In [70]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [71]:
df = pd.read_csv('Dataset/training/fsi-2006-to-2013.csv')

In [72]:
df.shape

(1387, 16)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1387 entries, 0 to 1386
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1387 non-null   object
 1   Year                              1387 non-null   int64
 2   Rank                              1387 non-null   object
 3   Total                             1387 non-null   float64
 4   C1: Security Apparatus            1387 non-null   float64
 5   C2: Factionalized Elites          1387 non-null   float64
 6   C3: Group Grievance               1387 non-null   float64
 7   E1: Economy                       1387 non-null   float64
 8   E2: Economic Inequality           1387 non-null   float64
 9   E3: Human Flight and Brain Drain  1387 non-null   float64
 10  P1: State Legitimacy              1387 non-null   float64
 11  P2: Public Services               1387 non-null   float64
 12  P3: Human Rights                  1387 non-null   float64
 13  S1: Demographic Pressures         1387 non-null   float64
 14  S2: Refugees and IDPs             1387 non-null   float64
 15  X1: External Intervention         1387 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 173.5+ KB

In [74]:
filtw =(df['Total'] >=60.0) & (df['Total'] <= 89.9) 
filts =(df['Total'] >=0.0) & (df['Total'] <= 29.9) 
filtst =(df['Total'] >=30) & (df['Total'] <= 59.9)
filta =(df['Total'] >=90)
filtn =(df['Total'] < 0)

In [75]:
df['cluster']= df['Total']

In [76]:
df

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention,cluster
0,Somalia,2013,1st,113.9,9.7,10.0,9.3,9.4,8.4,8.9,9.5,9.8,10.0,9.5,10.0,9.4,113.9
1,Congo Democratic Republic,2013,2nd,111.9,10.0,9.5,9.4,8.5,8.8,7.1,9.6,9.5,9.8,10.0,10.0,9.7,111.9
2,Sudan,2013,3rd,111.0,9.8,10.0,10.0,7.8,8.5,8.4,9.6,8.8,9.3,8.8,10.0,10.0,111.0
3,South Sudan,2013,4th,110.6,9.6,9.8,10.0,8.6,8.9,6.5,9.1,9.8,9.3,8.9,10.0,10.0,110.6
4,Chad,2013,5th,109.0,9.4,9.5,8.8,8.0,8.9,8.0,9.7,9.9,9.8,9.5,9.7,7.9,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382,Switzerland,2006,142nd,18.7,1.0,1.0,2.0,1.2,2.5,2.0,1.0,1.0,1.5,3.0,1.5,1.0,18.7
1383,Ireland,2006,143rd,18.6,1.0,1.0,1.0,1.9,3.0,2.0,1.5,1.3,1.5,2.0,1.4,1.0,18.6
1384,Finland,2006,144th,18.2,1.0,1.0,1.0,2.2,2.0,2.0,1.0,1.0,1.5,3.0,1.5,1.0,18.2
1385,Sweden,2006,144th,18.2,1.0,1.0,1.0,1.2,2.0,2.0,1.0,1.0,1.5,3.0,2.5,1.0,18.2
1386,Norway,2006,146th,16.8,1.0,1.0,1.0,1.8,2.0,1.0,1.0,1.0,1.5,3.0,1.5,1.0,16.8

In [77]:
df.loc[filta,'cluster']='alert'
df.loc[filtw,'cluster']='warning'
df.loc[filts,'cluster']='sustainable'
df.loc[filtst,'cluster']='stable'
df.loc[filtn,'cluster']='na'
df

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention,cluster
0,Somalia,2013,1st,113.9,9.7,10.0,9.3,9.4,8.4,8.9,9.5,9.8,10.0,9.5,10.0,9.4,alert
1,Congo Democratic Republic,2013,2nd,111.9,10.0,9.5,9.4,8.5,8.8,7.1,9.6,9.5,9.8,10.0,10.0,9.7,alert
2,Sudan,2013,3rd,111.0,9.8,10.0,10.0,7.8,8.5,8.4,9.6,8.8,9.3,8.8,10.0,10.0,alert
3,South Sudan,2013,4th,110.6,9.6,9.8,10.0,8.6,8.9,6.5,9.1,9.8,9.3,8.9,10.0,10.0,alert
4,Chad,2013,5th,109.0,9.4,9.5,8.8,8.0,8.9,8.0,9.7,9.9,9.8,9.5,9.7,7.9,alert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382,Switzerland,2006,142nd,18.7,1.0,1.0,2.0,1.2,2.5,2.0,1.0,1.0,1.5,3.0,1.5,1.0,sustainable
1383,Ireland,2006,143rd,18.6,1.0,1.0,1.0,1.9,3.0,2.0,1.5,1.3,1.5,2.0,1.4,1.0,sustainable
1384,Finland,2006,144th,18.2,1.0,1.0,1.0,2.2,2.0,2.0,1.0,1.0,1.5,3.0,1.5,1.0,sustainable
1385,Sweden,2006,144th,18.2,1.0,1.0,1.0,1.2,2.0,2.0,1.0,1.0,1.5,3.0,2.5,1.0,sustainable
1386,Norway,2006,146th,16.8,1.0,1.0,1.0,1.8,2.0,1.0,1.0,1.0,1.5,3.0,1.5,1.0,sustainable

In [86]:
X=df.loc[:, ['Year','Total']].values
X

array([[2013. ,  113.9],
       [2013. ,  111.9],
       [2013. ,  111. ],
       ...,
       [2006. ,   18.2],
       [2006. ,   18.2],
       [2006. ,   16.8]])

In [87]:
Y=df.loc[:, 'cluster'].values
Y

array(['alert', 'alert', 'alert', ..., 'sustainable', 'sustainable',
       'sustainable'], dtype=object)